p {
	text-align: left;
}

.header__inner p {
	text-align: center;
}

.header__button {
	display: flex;
	margin: auto;
	align-items: center;
}

.header__button:hover {
	cursor: pointer;
}
/* Скрытие окна */
.modal {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: 0.9s;
	left: 0;
	top: -1000px;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.9);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 60px 15px;
}
/* отображение окна */
.modal_active {
	position: fixed;
	top: 0;
	visibility: visible;
	opacity: 1;
	transition: 0.9s;
}

.modal__content {
	width: 100%;
	max-width: 500px;
	position: relative;
	padding: 50px;
	background: #f9f9f9;
	border-radius: 3px;
}

.modal__close-button {
	display: flex;
	background: #ff0000;
	width: 30px;
	height: 30px;
	justify-content: center;
	border: none;
	position: absolute;
	right: 0;
	top: 0;
	background: none;
	cursor: pointer;
	outline: none;
}

.modal__title {
	font-size: 1.8rem;
	/* text-transform: uppercase; */
	margin: 0 0 15px;
	text-align: center;
}

.modal__description {
	font-size: 1.2rem;
	text-align: center;
}