body {
	font-family: 'Times New Roman', Times, serif;
}

p {
	font-size: 26px;
}

/* Заголовок */
h1 {
	position: relative;
	margin: auto;
	padding: 5px;
	
	text-align: center;
	text-transform: uppercase;
}

h2 {
	position: relative;
	margin: auto;
	padding: 5px;
	
	text-align: center;
}

.list {
	list-style-type: circle;
}