body, html {
	background-color: transparent;
	overflow: hidden;
	font-family: Verdana, Tahoma, Helvetica, Sans-Serif;
}
/* General links */
a {
	color: #ffffff;
	text-decoration: none;
}
a:visited {
	color: #ffffff;
}
a:hover {
	color: #ffffff;
	text-decoration: underline;
}
a:focus {
	outline: #707070 dashed thin;
}

/* TOC LIST CSS */
#idToc {
	margin: 0;
	padding: 0;
} /* General margin of the TOC (root entry) */
#idToc li {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-position: left center;
	vertical-align: bottom;
} /* Vertical spacing between TOC items */
#idToc ul {
	margin: 2px 0 0 0;
	padding: 0;
	vertical-align: bottom;
} /* Indentation per level (negative value) */
/* TOC LIST CSS */
div#idTocHeader {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 18px;
}
div#idTocBody {
	position: absolute;
	background-image: url("../image/spacer.gif");
	top: 85px;
	left: 7px;
	right: 0;
	bottom: 35px;
	overflow-y: auto;
	border-style: solid;
	border-color: #3f3f3f;
	border-width: 1px 0 1px 0;
	padding-top: 7px;
	margin-right: 2px;
}
div#tree {
	overflow-y: hidden;
}
div#hmtocfooter {
	position: absolute;
	bottom: 0;
	left: 8px;
	right: 8px;
	background-color: transparent;
}
div#hmtocfooter p {
	font-size: 0.7em;
	text-align: center;
	margin-bottom: 5px;
	color: #737373;
	text-indent: 0;
}
.nav-title {
	font-size: 13pt;
	font-weight: bold;
	margin-bottom: 10px;
	line-height: 93%;
}
.nav-subtitle {
	display: none;
	font-size: 9pt;
	font-weight: bold;
	padding: 0;
	margin: -8px 0 0 0;
	color: silver;
}
.no-js-title {
	font-size: 11pt;
	white-space: nowrap;
	margin-top: -8px;
}
.no-js-title a {
	color: #ffffff;
	text-decoration: none;
}
.no-js-title a:visited {
	color: black;
}
.no-js-title a:hover {
	text-decoration: underline;
}
li.heading1 {
	background-position: 1px 1px !important;
}
.heading1 {
	font-family: Arial, Helvetica;
	font-weight: normal;
	font-size: 11pt;
	color: silver;
	text-decoration: none;
}
.heading2 {
	font-family: Arial, Helvetica;
	font-weight: normal;
	font-size: 10pt;
	color: silver;
	text-decoration: none;
}
.heading3 {
	font-family: Arial, Helvetica;
	font-weight: normal;
	font-size: 10pt;
	color: silver;
	text-decoration: none;
}
.heading4 {
	font-family: Arial, Helvetica;
	font-weight: normal;
	font-size: 10pt;
	color: silver;
	text-decoration: none;
}
.heading5 {
	font-family: Arial, Helvetica;
	font-weight: normal;
	font-size: 10pt;
	color: silver;
	text-decoration: none;
}
.heading6 {
	font-family: Arial, Helvetica;
	font-weight: normal;
	font-size: 10pt;
	color: silver;
	text-decoration: none;
}
.hilight1 {
	font-family: Arial, Helvetica;
	font-weight: normal;
	font-size: 11pt;
	color: #000000;
	background: #dedede;
	text-decoration: none;
}
.hilight2 {
	font-family: Arial, Helvetica;
	font-weight: normal;
	font-size: 10pt;
	color: #000000;
	background: #dedede;
	text-decoration: none;
}
.hilight3 {
	font-family: Arial, Helvetica;
	font-weight: normal;
	font-size: 10pt;
	color: #000000;
	background: #dedede;
	text-decoration: none;
}
.hilight4 {
	font-family: Arial, Helvetica;
	font-weight: normal;
	font-size: 10pt;
	color: #000000;
	background: #dedede;
	text-decoration: none;
}
.hilight5 {
	font-family: Arial, Helvetica;
	font-weight: normal;
	font-size: 10pt;
	color: #000000;
	background: #dedede;
	text-decoration: none;
}
.hilight6 {
	font-family: Arial, Helvetica;
	font-weight: normal;
	font-size: 10pt;
	color: #000000;
	background: #dedede;
	text-decoration: none;
}