/* Turn off background gradients for IE 9 because they
protrude over the edges of rounded corners

Отключить фоновые градиенты для IE 9, так как они
выступают за края закругленных углов
*/

ul.tabs a,
ul.tabs a.current,
div#idTabsCtab,
div#idToolbar,
img.nav-icon-H,
div#idNavBox,
div#idNavBorder {
	filter: none;
	-ms-filter: none;
}

ul.tabs a {
	background-image: url(../image/taboff_gradient.svg);
	background-size: 100% 100%;
	background-repeat: repeat-x;
	background-position: 0 0;
}

div#idToolbar,
ul.tabs a.current,
div#idTabsCtab {
	background-image: url(../image/toolbar_gradient.svg);
	background-size: 100% 100%;
	background-repeat: repeat-x;
	background-position: 0 0;
}

div#idNavBorder {
	background-image: url(../image/navborder_gradient.svg);
	background-size: 100% 100%;
	background-repeat: repeat-x;
	background-position: 0 0;
}
div#idNavBox {
	background-image: url(../image/navbox_gradient.svg);
	background-size: 100% 100%;
	background-repeat: repeat-x;
	background-position: 0 0;
}