body {
	font-family: 'Times New Roman', Times, serif;
}

/* Заголовок */
.title {
	width: 800px;
	height: 100%;

	position: relative;
	margin: auto;
	padding: 5px;
	
	text-align: center;
	text-transform: uppercase;
}

.img-list {
	align-items: center;
	border-radius: 10px;
	margin: auto; /* выравнивает контейнер горизонтально по центру */
}

.container {
	width: 800px;
	height: 100%;

	position: relative;
	
	margin: auto;
	padding: 5px;

	border: none;
}
/* Подзаголовок */
.container .heading {
	margin: 0%;
	text-align: center;
}

.container li {
	width: 350px;
	height: 300px;
	/* position: relative; */
	/* margin: 0; */
	padding: 5px;
}

.container .img-list {
	position: relative;
	display: flex;
	flex-direction: row; /* картинки строкой, collumn переносит на следующую строку их «display: flex;» тоже нужен обязательно */
	flex-wrap: wrap; /* перенос */
	justify-content: space-between;
	box-sizing: content-box;
	align-items: center;
	list-style-type: none;
}